body {
    margin: 0 auto;
    font-family: Arial;

}

html, body{
      width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/***********************************************************************
 * Banner Image
 **********************************************************************/


.banner-image{
    position: relative;
    height: 60vh; 
    width: 100%;
    top: 0px;
    background-size: 100% 100%;
    background-position: center ;
    background-repeat: no-repeat;

}

.carousel-inner img {
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: 100% 100%;
  }

.image { 
   position: relative; 
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100%;

}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.9em;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 440px) {
    .topnavbar{
      width: 100%;
    }
    li, a{

         font-size: 0.5em;
         padding: 0;
         margin: 0;
    } 
    .quotes{
        font-size: 12px;
        
    }

}



.bg-color{
    background: #132448;
}


.icon{
    height: 40px;
    margin-left: -20%;
    width: 120px;
}


.icon-search{
    height: 20px;
    margin-right: 10%;
}

.icon-account{
    height: 20px;
    color: yellow;
    margin-left: 5%;

}
.icon-cart{
    height: 20px;
}

.push {
    margin-left: auto;
    padding-right: 55px;
}

li {
    padding: 20px;
     color: #f5f5f6;
}

a:hover {
    color: #f5f5f6;
    text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/***********************************************************************
 * SHOP NOW
 **********************************************************************/

.grid-wrapper {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 20px;
}


 .zone {
    padding: 10px;
    margin: 0px;
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:0px solid #bbb;
    transition: all 0.3s linear;

}

.box {
    padding: 20px;
    margin: 30px;
}

.box > img {
    width: 100%;
    height: 350px;

}

/***********************************************************************
 * NOT JUST ANOTHER MATTRESS
 **********************************************************************/



@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
.grid-wrapper-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 0px;
    font-size: 1.3em;
    padding: 0;
}

.box-icons {
    padding: 50px;
    margin: 20px;
    text-align: center;
}

.box-icons > img {
       width: 45%;
    height: auto;
}

}


.grid-wrapper-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 0px;
    font-size: 8px;
    padding: 0;
}


.box-icons {
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-size: 7px;

}

.box-icons > img {
       width: 40%;
      height: auto;
}

 .zonemattress {
    padding: 10px;
    margin: 35px;
    cursor:pointer;
    color:#FFF;
    border-radius:4px;
    border:0px solid #bbb;
    transition: all 0.3s linear;

}




.show-mattress{
    top: -41%;
    position: relative;
    left: 25%;

}

.luxe-mattress{
    margin-top: 17%;
   
}



/***********************************************************************
 * Picture Side Text
 **********************************************************************/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
 
.leftImage{
  width: 100%;
  height: 100%;
}

.Sidebyside{
  margins:0 px;
  overflow:hidden;
  float: right;
  width: 50%;
  height: 85%;
}


}


.Sidebyside{
  margins:0 px;
  overflow:hidden;
  float: right;
  width: 50%;
  height: 70%;
}


.text-color{
    color: #273655;
  text-align: center;

}

 .textbox{    
  font-size: 10px;
}


/***********************************************************************
 * Reviews
 **********************************************************************/


.grid-wrapper-reviews {     
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 0px;
    font-size: 1.3em;
    padding: 0;
}

.box-review {
    padding: 30px;
    margin: 20px;
    text-align: left;
}

.stars-icon {
    color: yellow;
    font-size: 0.5em;
    float: left;
    padding: 0px;

}



/***********************************************************************
 * Picture with text
 **********************************************************************/

@media screen 
  and (device-width: 440px) 
  and (device-height: 800px) {
        .responsive {
    width: 100%;
    height:100%;
}
    }

.responsive {
    width: 100%;
    height:  600px;
}


.text-block {
  position: absolute;
  top: 50px;
  left: 10%;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 12px;
  width: 100%;
}

.Text{
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;


}

.hidden{
  visibility: hidden;
}


.adjust{
    padding: 0px;
    text-align: left;

}


/**************************BLOG*********************************/

.grid-wrapper-blog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 0px;
    font-size: 1.3em;
    padding: 0;
}

.box-blog {
    padding: 30px;
    margin: 20px;
    text-align: center;
}

.box-blog > img {
    width: 100%;
    height: 200px;
}


/**********************CHOOSEE MATTRESSES************************/

.grid-wrapper-choose {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 20px;
    position: relative;
    height: auto;
}

.choose-zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:3.0em;
    border-radius:4px;
    border:0px solid #bbb;
    transition: all 0.3s linear;
}

.choosebox {
    padding: 10px;
    margin: 20px;

}

.choosebox > img {
    width: 100%;
    height: 250px;

}


/**************************Footer Banner*********************************/
/************************************************************************/


.grid-ftbanner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    position: relative;
    height: auto;
}

.ftbanner-zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:3.0em;
    
    border:0px solid #bbb;
    transition: all 0.3s linear;
    background: #132448;

}
.ftbanner-zone: hover {
    display: none;

}
.ftbanner-box{
    padding: 10px;
    margin: 20px;


}

.ftbanner-box{
    display: none;
}

.ftbanner-box > img {
    width: 100%;
    height: 250px;

}


.span-color{
    color: #00d2ff;
}


.text{
    text-decoration: underline;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {

    background-color: #444;
    font-size: 15px;
    height: 40px;
    background-color: #174567;
    color:#FFF;
    position: relative;
    height: auto;
    display:inline-block;
    text-align: left;
    width: 100%;
    font-weight: normal;


}

.footerimage{
  margin-left: 5%;
   margin-right: 5%;
}

.pushright{
  margin-right: auto;
}